<!-- section-zavod -->
<section class="section section--zavod section--zavod-remark">
	<div class="container">

		<div class="section-content">

			<div class="block-table">
				<div class="block-cell">
					Казахстанский завод&nbsp;&mdash; точная копия<br /> 
					немецкого завода, только существенно<br /> 
					увеличенная в&nbsp;размерах.
				</div>
			</div>
			
		</div>

	</div>
</section><!-- /section-zavod -->