/*
	Стили для Больших экранов
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	Стили для Десктопа
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	Стили для Планшета и выше
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	Стили для Планшета
 -------------------------------------------------------------------- */
@include respond-to($respond-tablet) {

	.news-item {
		.item-title {
			font-size: 14px;
		}
	}

	.news-items-list {
		max-width: 100%;
	}

}



/*
	Стили для Планшета и Телефона
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	Стили для Телефона
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.news-item {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.news-items-list {
		margin-top: 0;
		margin-bottom: 40px;
		max-width: 100%;
		.block-in {
			padding-top: 0;
		}
	}

}