// переменные Цвета
// *************************************************************************
$blue: #177dd7;
$green: green;
$orange: orange;
$red: red;
$pink: pink;
$cyan: cyan;
$purple: purple;
$gray: gray;

$brand-primary: $blue;
$brand-secondary: $green;

// --------------------------------------------------
$body-bg: #f1f4f8 !default;
$text-color: black !default;

$link-color: $blue !default;
$link-hover-color: darken($link-color, 15%) !default;

$facebook: #3b5998;
$vk: #45668e;
$twitter: #4099ff;

.text--white {
	color: white;
}
.text--black {
	color: black;
}
.text--blue {
	color: $blue;
}