<!-- form-rycle -->
<div class="form--rycle">
	<form action="/">

		<fieldset>

			<!-- items-list -->
			<div class="items-list">
				
				<div class="block-in">
					{% for item in [
						{
							id: "1",
							title: "Сухое кобылье<br /> молоко Саумал<br /> 500 г",
							count: "1",
							price: "30000",
							img: "img/pic-good-01.png",
							img@2x: "img/pic-good-01@2x.png",
							remove: "true"
						}, {
							id: "2",
							title: "Сухое кобылье<br /> молоко Саумал<br /> 250 г",
							count: "1",
							price: "17000",
							img: "img/pic-good-02.png",
							img@2x: "img/pic-good-02@2x.png",
							add: "true"
						}
					] -%}
					<!-- item -->
					<div class="item clearfix" data-price="{{item.price}}" data-id="{{item.id}}">
						<div class="column column--img">
							<div class="item-img">
								<div class="block-table">
									<div class="block-cell">
										<div class="img--centered" data-img-loader>
											<img src="{{item.img}}" srcset="{{item.img}} 1x, {{item.img@2x}} 2x" class="img--fluid" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column column--in clearfix">
							<div class="column column--title">
								<div class="item-title">{{item.title|safe}}</div>
							</div>
							<div class="column column--calc">
								<div class="item-calc">
									<label>Количество шт</label>
									<div class="item-calc-in">
										<button type="button" class="btn--unstyled btn--calc btn--minus"><i class="icon icon-minus"></i></button>
										<input type="text" class="form-control inp--calc" value="{{item.count}}" data-min="1" data-max="10" readonly />
										<button type="button" class="btn--unstyled btn--calc btn--plus"><i class="icon icon-plus"></i></button>
									</div>
								</div>
							</div>
							<div class="column column--price">
								<div class="item-price">
									<label>Стоимость</label>
									<strong data-output="price"></strong> <span class="tenge">n</span>
								</div>
							</div>
						</div>
						{% if item.remove %}
						<button type="button" class="btn--unstyled btn--remove"><i class="icon icon-minus"></i></button>
						{% endif %}
						{% if item.add %}
						<button type="button" class="btn--unstyled btn--add"><i class="icon icon-plus"></i></button>
						{% endif %}
						<input type="hidden" name="id" value="{{item.id}}" />
					</div><!-- /item -->
					{%- endfor %}
				</div>

				<div class="list-amount clearfix">
					<div class="pull-left">
						<label>Выбрано</label>
						<strong data-output="count"></strong>
					</div>
					<div class="pull-right">
						<div class="div-inner text--right">
							<div class="div-in text--left">
								<label>Итого к оплате</label>
								<strong data-output="amount"></strong> <span class="tenge">n</span>
							</div>
						</div>
					</div>
				</div>

			</div><!-- /items-list -->
			
		</fieldset>

		<fieldset>
			
			<h3>Оформление заказа</h3>

			<div class="form-body">

				<div class="form-in">
				
					<div class="form-group clearfix">
						<label class="control-label">Как к вам обращаться</label>
						<div class="controls">
							<input type="text" class="form-control" name="name" required />
						</div>
					</div>

					<div class="form-group clearfix">
						<label class="control-label">Адрес электронной почты</label>
						<div class="controls">
							<input type="email" class="form-control" name="email" required />
						</div>
					</div>

					<div class="form-group clearfix group--phone">
						<label class="control-label">Номер телефона</label>
						<div class="controls">
							<span class="prefix">+7</span>
							<input type="tel" class="form-control" name="phone" data-mask="(999) 999-99-99" required />
						</div>
					</div>

					<div class="form-group clearfix group--city">
						<label class="control-label">Город</label>
						<div class="controls">
							<input type="text" class="form-control" name="city" required />
						</div>
					</div>

					<div class="form-group clearfix group--address">
						<label class="control-label">Адрес доставки</label>
						<div class="controls">
							<input type="text" class="form-control" name="address" required />
						</div>
					</div>
					<div class="form-group clearfix group--payment"> <label class="control-label">Способ оплаты</label>
                        <div class="controls">
                            <label class="form-checkbox"><input type="radio" class="form-checkbox__input" name="payment" value="cash" required checked /><span class="form-checkbox__elipse"></span>Наличными</label>
                            <label class="form-checkbox"><input type="radio" class="form-checkbox__input" name="payment" value="kkb" required /><span class="form-checkbox__elipse"></span>KKB Epay</label>
                        </div>
                    </div>

				</div>

				<div class="form-controls clearfix">
					<div class="pull-left">
						<a href="catalog.html" class="btn btn--white btn--back"><i class="icon icon-back"></i> <span>Вернуться к выбору продукта</span></a>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn--blue btn--shadow btn--submit"><span>Оформить заказ</span></button>
					</div>
				</div>

			</div>

		</fieldset>

	</form>
</div><!-- /form-rycle -->