<div class="object-item">
	<div class="item-img">
		<img src="img/pic-05.png" class="img--fluid" />
	</div>
	<div class="item-in">
		<p>Всего <strong>500&nbsp;мл</strong> кобыльего молока обеспечивают суточную потребность организма в&nbsp;<strong>витамине&nbsp;С</strong></p>
	</div>
</div>