<!-- section-default -->
<section class="section section--default" id="endocrine">

	<div class="nav-category visible-xs">
		<ul class="list--unstyled">
			<li>
				<a href="#" data-toggle="tab-mobile">
					<i class="icon icon-endocrine"></i> <span>Эндокринная система</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="section-content clearfix">

		<div class="section-img pull-left">
			<img src="img/pic-endocrine-alt.png" class="img--fluid" />
		</div>

		<h2 class="title-1">Эндокринная система</h2>

		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока. Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока</p>

		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

	</div>

</section><!-- /section-default -->