<!-- section-default -->
<section class="section section--default" id="nervous">

	<div class="nav-category visible-xs">
		<ul class="list--unstyled">
			<li>
				<a href="#" data-toggle="tab-mobile">
					<i class="icon icon-nervous"></i> <span>Нервная система</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="section-content clearfix">

		<div class="section-img pull-left">
			<img src="img/pic-nervous-alt.png" class="img--fluid" />
		</div>

		<h2 class="title-1">Нервная система</h2>

		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока. Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока</p>

		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

		<br /><br />
		<h3>Хронический панкриатит</h3>

		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

		<div class="section-cover mode--text">
			<img src="img/pic-10.png" class="img--fluid" />
			<div class="section-cover-in">
				<div class="block-table">
					<div class="block-cell">
						<p>
							<big>
								Употребление <strong>Саумала</strong> после операции<br /> 
								поможет вам  избавиться от болей<br /> 
								в желудке и кишечнике
							</big>
						</p>
						<p>Ангелина Ершова, логопед</p>
					</div>
				</div>
			</div>
		</div>

		<h3>Дисфункция желчно-выводящих путей</h3>

		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

		<img src="img/pic-news-06.png" class="img--fluid pull-left" />
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

		<h2>
			Хронические вирусные гепатиты<br /> 
			B, C и D
		</h2>

		<h4>Профилактика</h4>
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

		<h4>Восстановление</h4>
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>
		
		<h4>Помощь в лечении</h4>
		<img src="img/pic-09.png" class="img--fluid pull-right" />
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>
		<p>Уникальные и&nbsp;оздоравливающие свойства кобыльего молока и&nbsp;его производных известны людям давно. Издревле, кочевники называли парное кобылье молоко &laquo;саумал&raquo; (&laquo;мал&raquo;&nbsp;&mdash; по-казахски значит &laquo;скот&raquo;, а&nbsp;&laquo;сау&raquo;&nbsp;&mdash; здоровый, целый, невредимый). Кроме традиций и&nbsp;преданий, подтверждения уникальных полезных свойств кобыльего молока и&nbsp;его производных отмечаются в&nbsp;древних летописях и&nbsp;медицинских трактатах Гиппократа и&nbsp;Абу Али Ибн Сины, известного на&nbsp;западе как Авиценна. Труду Авиценны уже тысяча лет, большую часть которых он&nbsp;был основой медицинской науки Европы, Азии и&nbsp;Ближнего Востока.</p>

	</div>

</section><!-- /section-default -->